<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>


<div class="row">
         <div class="col-md-12">
             <form method="post">
        <!-- user input-->
        Username:<br>
        <input type="text" name="username" placeholder="Username" required><br><br>
        Password:<br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        Confirm Password:<br>
        <input type="password" name="password" placeholder="Password" required><br><br>
   
             From:<br>
        <input type="text" name="username" placeholder="Username" required><br><br>
             <!-- submit button -->
        <input type="submit" value="login">
    </form>
           










                       <div class="text-wrap" >

</div>
</div>




            </div>
         </div>
      </div>


<div class="row">
    <div class="col-md-12">
         <div class="d-flex justify-content-center">
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
         <div class="d-flex justify-content-center">
            <a class="nav-link" href="/sentmessages">View Sent Messages Here</a>
         </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="text-center">
  <img src="../images/777994036.jpg" alt="..." class="img-fluid">
</div>
  <div class="col-md-4"></div>
         </div>


<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>