<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>
<br/>

  <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">
          <!-- Image -->
          <div class="text-center">
            <img src="../images/shutterstock_1107875180.jpg" alt="..." class="img-fluid">
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

          <!-- Heading -->
                   <div class="d-flex justify-content-center">
            <i class="fa-solid fa-p fa-8x"></i>
         </div>
          <h1 class="display-4 text-center mb-3">
           Positive Message Sender
          </h1>

          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            Send a positive message to a friend and loved one.
          </p>

            <a class="btn btn-primary button button-brand btn-lg mb-5 mb-lg-2 w-100 " href="/login">Login To Send A Message</a>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

<!--

<div class="row">
    <div class="col-md-12">
         <div class="d-flex justify-content-center">
            <i class="fa-solid fa-p fa-8x"></i>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <div class="d-flex justify-content-center">
            <h1 class="display-1 text-bold">Positive Message Sender</h1>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <div class="d-flex justify-content-center">
            <h5 class="text-gray-soft text-regular">Send a postive message to a friend and loved one.</5>
         </div>
    </div>
</div>
    <div class="col-md-12">
         <div class="d-flex justify-content-center">
            <a class="btn btn-primary button button-brand btn-lg mb-5 mb-lg-2" href="/sendmessage">Send a message</a>
         </div>
    </div>
</div>
-->
<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>


  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

  
  </body>
</html>
