<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('./partials/header'); %>
  </header>


  <div class="row">
    <div class="col-md-12">
      <div class="text-wrap">
        <h4 style="text-align:center">Positive Message Sent to <%= name %>! Thanks for brightening someone's day!<h4>

      </div>
    </div>
  </div>
  </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <a class="nav-link" href="/sentmessages">View Sent Messages Here</a>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="../images/shutterstock_777994036.jpg" alt="..." class="img-fluid">
      </div>
      <div class="col-md-4"></div>
    </div>


    <footer>
      <%- include('./partials/footer'); %>
    </footer>

</body>

</html>